@define-color qubes-blue #4180c9;
@define-color medium-gray #979797;
@define-color light-gray #f2f2f2;


.qube-box-base {
  font-family: SourceSansPro;
  font-weight: 600;
}

.qube-box-red {
    color: #631110;
}

.qube-box-orange {
    color: #843A04;
}

.qube-box-yellow {
    color: #946705;
}

.qube-box-green {
    color: #10631D;
}

.qube-box-gray {
    color: #555555;
}

.qube-box-blue {
    color: #0E2276;
}

.qube-box-purple {
    color: #3F0C46;
}

.qube-box-black {
    color: #000000;
}

.group_title {
    font-weight: 300;
    font-size: 150%;
    margin-top: 20px;
}

.explanation {
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 90%;
}
checkbutton check {
    min-width: 20px;
    min-height: 20px;
    margin-right: 10px;
}

radiobutton radio {
    min-width: 20px;
    min-height: 20px;
    margin-right: 10px;
}

.combo-changed {
    font-style: italic;
}

.combo-changed window.popup {
    font-style: normal;
}
