@import "qubes-widgets-styling.css";

label {
  font-family: SourceSansPro;
}

separator {
    background: @dark-gray;
}

.qubes_version_label {
    margin: 10px 0 10px 0;
    color: @dark-gray-2;
    font-size: 120%;
    font-weight: 700;
}

.content_box {
    background: @light-gray;
    border-width: 2px;
    border-color: @medium-gray;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: @medium-gray 2px -2px 2px -2px inset;
}

#main_notebook {
    border-width: 1px;
    border-color: @dark-gray-2;
    border-style: solid;
}

#main_notebook header {
    background: white;
    border-width: 0px;
}

#main_notebook header tabs tab {
    border-width: 0;
    box-shadow: @medium-gray 0px 2px 2px -2px inset;
    margin: 0px;
    font-weight: bold;
}

#main_notebook header tabs tab:checked {
    background: @qubes-blue;
    color: white;
}

#main_notebook header tabs tab:hover {
    box-shadow: @medium-gray 0px 2px 2px -2px inset;
    border-width: 0px;
    border-color: @medium-gray;
}

.category {
    padding: 20px;
}

.explanation {
    margin: 0 0 20px 0;
}

.section_title {
    margin-top: 50px;
}

.flowbox_container {
    background: white;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
}

.flowbox_flowbox {
    background: white;
    padding: 10px;
}

.red_code {
    font-family: SourceCodePro;
    color: red;
    margin-left: 5px;
}

.explanation_text {
    color: @medium-gray;
}

.add_label {
    color: @qubes-blue;
    font-weight: bold;
}

.add_label:disabled {
    color: @medium-gray;
    font-weight: bold;
}

.add_button {
    border: 0;
}

.permission_list {
    background: @light-gray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.permission_row {
    background: @light-gray;
    padding:10px;
}

.permission_row:hover {
    background: @qubes-blue;
}

.edited_row {
    padding: 10px 10px 10px 10px;
    background: white;
    border-color: @medium-gray;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
}

.edited_row:hover {
    background: white;
}

.problem_box {
    margin: 0px 20px 5px 20px;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: red;
    background: #fce9e3;
    color: #ba370d;
}

.problem_list {
    margin-top: 20px;
    background: #fce9e3;
    padding-left: 50px;
}

.problem_row:hover {
    background: #fce9e3;
}

.enable_opts {
    margin: 5px 0 5px 0;
}

.raw_text {
    margin: 10px 25px 10px 35px;
    background: white;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: @medium-gray;
}

.flat_button {
    border-color: @medium-gray;
    font-weight: 500;
    margin: 5px;
    border-radius: 0px;
}

.button_save {
    background: @dark-blue;
    color: white;
}

.button_cancel {
    background: @light-gray;
}

.text_button {
    color: @dark-blue;
    font-weight: 700;
    border: 0px;
}

.small_title {
    font-size: 80%;
    font-weight: 700;
    margin-bottom: 10px;
}

.didascalia {
    font-style: italic;
    color: @dark-gray;
    margin-right: 20px;
    margin-left: 20px;
}

.background {
    background: @dark-gray-2;
}

