label {
  font-family: 'Source Sans Pro';
}

.qube-box-base {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  padding: 2px 10px 2px 10px;
  border: 1px;
  border-color: @dark-gray;
  background: @light-gray;
  border-style: solid;
  border-radius: 5px;
}

.qube-box-red {
    color: #631110;
}

.qube-box-orange {
    color: #843A04;
}

.qube-box-yellow {
    color: #946705;
}

.qube-box-green {
    color: #10631D;
}

.qube-box-gray {
    color: #555555;
}

.qube-box-blue {
    color: #0E2276;
}

.qube-box-purple {
    color: #3F0C46;
}

.qube-box-black {
    color: #000000;
}

.group_title {
    font-weight: 400;
    font-size: 150%;
    margin-top: 20px;
}

.explanation {
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 90%;
}
checkbutton check {
    min-width: 20px;
    min-height: 20px;
    margin-right: 10px;
}

radiobutton radio {
    min-width: 20px;
    min-height: 20px;
    margin-right: 10px;
}

.combo-changed {
    font-style: italic;
}

.combo-changed window.popup {
    font-style: normal;
}

.qube-type {
    padding: 2px 10px 2px 10px;
    border: 1px;
    border-color: @dark-gray;
    background: @medium-gray-2;
    border-style: solid;
    border-radius: 5px;
    color: @dark-text-color;
}

.modal_dialog {
    padding: 20px;
    background: @top-background;
    color: @text-color;
}

.modal_contents {
    padding: 10px;
    background: @top-background;
    color: @text-color;
}

.flat_button {
    border-color: @medium-gray;
    font-weight: 500;
    margin: 5px;
    border-radius: 0px;
    color: @dark-text-color;
}

.button_save {
    background: @dark-blue;
    color: white;
}

.button_cancel {
    background: @button-color;
    color: @button-text-color;
}

.loading progress {
    min-height: 20px;
    border-color: @dark-gray-2;
    border-width: 1px;
    border-style: solid;
}

.loading trough {
    min-height: 20px;
    background: @medium-gray;
    border-color: @dark-gray-2;
    border-width: 1px;
    border-style: solid;
}

.background {
    background: @bottom-background;
}

.invisible_button {
    border-width: 0;
    box-shadow: none;
    border: none;
    background: none;
}
